# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# ASP.NET
appsettings.Development.json

# NuGet
*.nupkg
packages/